<app-menu></app-menu>
<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h4>Mis Certificados</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label class="form-label">Empresas</label>
        <select class="form-control">
          <option>--- Selecione ---</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Certificados</label>
        <select class="form-control">
          <option>--- Selecione ---</option>
        </select>
      </div>
      <div class="text-center">
        <button class="btn btn-primary botonImprimir">Imprimir</button>
      </div>
    </div>
  </div>
</div>
