<app-menu></app-menu>
<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h4>Perfil</h4>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-12 mb-4">
            <label class="form-label">Número de Documento</label>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese número de documento"
            />
          </div>
          <div class="row mb-4">
            <div class="col-6">
              <label class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese su nombre"
              />
            </div>
            <div class="col-6">
              <label class="form-label">Apellidos</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese sus apellidos"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-4">
              <label class="form-label">Dirección</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese su Dirección"
              />
            </div>
            <div class="col-4">
              <label class="form-label">Telefono</label>
              <input
                type="number"
                class="form-control"
                placeholder="Ingrese su número de telefono"
              />
            </div>
            <div class="col-4">
              <label class="form-label">Correo</label>
              <input
                type="email"
                class="form-control"
                placeholder="Ingrese su correo electrónico"
              />
            </div>
          </div>
        </div>
      </form>
      <div class="text-center">
        <button class="btn btn-primary botonImprimir">Actualizar</button>
      </div>
    </div>
  </div>
</div>
