<app-menu></app-menu>
<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h4>Cambiar Contraseña</h4>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="row mt-3">
          <form #cambiarContra="ngForm">
            <div class="col-11">
              <label class="form-label">Contraseña Actual</label>
              <input type="password" class="form-control" placeholder="Ingrese su contraseña" name="claveActual" ngModel
                #claveActual="ngModel" required [(ngModel)]="recordarClave.claveActual" />
              <small *ngIf="!claveActual.valid && claveActual.touched" class="invalid-feedback d-block">Ingresa su
                contraseña actual</small>
            </div>

            <div class="col-11 mt-3">
              <label class="form-label">Contraseña Nueva</label>
              <input type="password" class="form-control" placeholder="Ingrese su contraseña nueva" name="claveNueva"
                ngModel #claveNueva="ngModel" required [(ngModel)]="recordarClave.claveNueva" />
              <small *ngIf="!claveNueva.valid && claveNueva.touched" class="invalid-feedback d-block">Ingresa su
                contraseña nueva</small>
            </div>
            <div class="col-11 mt-3">
              <label class="form-label">Confirmar Contraseña</label>
              <input type="password" class="form-control" placeholder="Ingrese su contraseña nueva" name="claveNueva2"
                ngModel #claveNueva2="ngModel" required [(ngModel)]="recordarClave.claveNueva2" />
              <small *ngIf="!claveNueva2.valid && claveNueva2.touched" class="invalid-feedback d-block">Ingresa
                nuevamente la contraseña nueva</small>
            </div>
          </form>
        </div>
      </form>
      <div class="text-center">
        <button type="button" class="btn btn-primary botonesModal" [disabled]="cambiarContra.invalid"
          (click)="guardar(cambiarContra)">
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
